<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" name="MyApp" packages="">
    <Appenders>
        <!--
                immediateFlush="true"
        -->
        <RollingFile
                name="rollingFile"
                fileName="/tmp/fop-bot-application.log"
                filePattern="./bot_log/application.%d{dd-MMM}.log.gz"
                ignoreExceptions="false"
                append="true"
        >
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss} %-5p %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <!--<OnStartupTriggeringPolicy/>-->
                <SizeBasedTriggeringPolicy size="10 MB"/>
                <TimeBasedTriggeringPolicy/>
            </Policies>
            <DefaultRolloverStrategy max="5"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="rollingFile"/>
        </Root>
    </Loggers>
</Configuration>